
#cardsection{
    display: flex;
}
#cardsection div{
    width: 25%;
    overflow: hidden;
    height: 213px;
}
#cardsection div img{
    width: 100%;
}
#cardsection div p{
    position: relative;
    bottom: 75px;
    color: white;
    font-weight: 700px;
    padding-left: 20px;
    padding-right: 20px;
}
#cardsection div img:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out;
}
#HeaderSection1{
background-color: black;
color: white;
padding-top: 5px;
padding-bottom: 5px;
}
#HeaderSection1 ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 20px;
}
.abc:hover{
    color: red;
}
#ImageSection img{
    width: 100%;
}